.heroImg {
  background-image: url('./imgs/skye5bw.jpg');
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: gray;
}

.BaseLayout {
  background-color: gray;
}
